name: Run Behave Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/seleniumbase/docker:python311

    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install --upgrade pip pipenv
          pipenv install --system --dev
          apt-get update && apt-get install -y procps psmisc

      - name: Start the service
        run: |
          setsid honcho start > server.log 2>&1 &
        env:
          DATABASE_URI: "postgresql+psycopg://postgres:postgres@postgres:5432/testdb"
      
      - name: Wait for the service to be ready
        run: sleep 10

      - name: Run Behave tests
        run: behave
        env:
          BASE_URL: "http://localhost:5000"
          DRIVER: "chrome"

      - name: Display server logs
        if: failure()
        run: cat server.log

      - name: Cleanup
        if: always()
        run: killall honcho || true
